*{
  //border: 1px solid rgba(0,0,0,.3);
  //background-color: rgba(92,92,255,.1)
}

html{
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#page{
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width:  100%;
  min-width: 890px;
}

#menubar{
  -webkit-box-flex: 0;
      -ms-flex: 0 1 2.5em;
          flex: 0 1 2.5em;
  border-bottom: 3px dashed white;
  background-color: #eaeaea;
  padding-left: 2em;
  padding-right: 2em;
  height: 2.5em;
}

.menu{
  height: inherit;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px;
}

#spacer{
  width: 20%;
}

.menu-button{
  text-align: center;
  width: 5em;
  vertical-align: middle;
  margin-right: 1em;
  height: 1.2em;
  text-decoration: none;
  color: #000000;
}

.menu-button:hover{
  border-top: 1px dashed #eaeaea;
  border-bottom: 1px dashed #555555;
}

.hide{
  display: none;
}

#content-wrapper{
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column{
  display: table;
  height: inherit;
}
.column-div-wrapper{
  position: relative;
  width:6px;
  height: 90%;
}

.column-div{
  position: absolute;
  display: block;
  margin: 2px;
  height: 100%;
  width: 2px;
  background-color: rgba(236,74,131,0.15);
}

#left{
  width: 30%;
}

#right{
  width: calc(70% - 6px);
}

.column-content{
  display: table-cell;
  vertical-align: middle;
  padding: 2em;
}

#plot{
  display: table-cell;
  vertical-align: top;
  min-height: 600px;
}

.map-wrapper{
  margin: auto;
  max-width: 500px;
  width: auto;
}

.map{
  border: 2px solid rgb(85,190,233);
  border-radius: 50%;
  width: inherit;
  padding-top: 100%;
}

.paragraph{
  padding: 1em;
}

.title{
  text-align: center;
  font-size: 2em;

}

.description{
  text-align: center;
  padding: 2em;
}
